# Set

# Sets are used to store multiple items in a single variable

# create set

In [2]:
set1 = {'1','a',"True"}
set1

{'1', 'True', 'a'}

# Add

# add an item to a set, using the add method

In [4]:
set = {"45","55","66"}

set.add("75")

print(set)

{'55', '66', '75', '45'}

# Update

# to add items from another set into the current set, use update method

In [5]:
set = {"45","55","66"}
tropical = {"25","35","11"}

set.update(tropical)

print(set)

{'35', '45', '11', '55', '66', '25'}

# Remove

# to remove an item in a set, use the remove

In [8]:
set = {"75","35","95"}

set.remove("95")

print(set)

{'35', '75'}

# Union

# the union method returns a new set with all items from both sets

In [11]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

In [14]:
set3 = set1.union(set2)
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

In [16]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1|set2
print(set3)

{1, 'c', 2, 3, 'b', 'a'}

# Differnce

# it returns a new set with elements that are in the set but not in the others

In [17]:
a1 = {10,20,50}
a2 = {40,30,50}

In [18]:
a1.difference(a2)

{10, 20}

In [19]:
a2.difference(a1)

{30, 40}

# Intersection

# it returns a new set with elements comon to the set and all others

In [25]:
set1 = {"apple","banana","cherry"}
set2 = {"google","microsoft","apple"}
      
set3 = set1.intersection(set2)
print(set3)

{'apple'}